{% extends "base.html" %}

{% block content %}
    <h1 class="center">Восстановление</h1>
    <form action="" method="post" class="my_form">
        {{ form.hidden_tag() }}
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(class="form-control") }}<br>
            {% for error in form.phone.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
{% endblock %}